.family-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    .family-header {
      text-align: center;
      margin-bottom: 20px;
      h1 {
        font-size: 2rem;
      }
  
  
    }
  
    .family-content {
        display: flex;
        flex-direction: column;
      gap: 30px;
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      .family-profile,
      .family-announcements {
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1rem 2rem;
        border-radius: 10px;
        h2 {
          margin-bottom: 10px;
          font-size: 1.5rem;
        }
  
        p,
        li {
          color: #555;
          font-size: 1rem;
          margin: 5px 0;
        }
  
        ul {
          list-style-type: disc;
          padding-left: 20px;
  
          li {
            margin-bottom: 5px;
          }
        }
      }
      .complain-input {
        width: 93%;
   
          height: 120px;
          padding: 10px 15px;
          font-size: 1rem;
          color: #333;
          border: none;
          border-radius: 10px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          resize: none; /* Disable resizing */
          outline: none;
          transition: border-color 0.3s ease, box-shadow 0.3s ease;
          margin-bottom: 1rem;
          @media (min-width:576px) { 
            width: 95%;
          }
          @media (min-width:768px) { 
            width: 97%;
          }
      }
      
      .complain-input:focus {
        border-color: #007bff;
        box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
      }
      
      .family-profile {
        grid-column: span 1;
  
        @media (min-width: 768px) {
          grid-column: span 2; // Takes full width in larger screens
        }
      }
  
      .family-announcements {
        grid-column: span 1;
      }
    }
  }
  